
<beans xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
      http://xmlns.jcp.org/xml/ns/javaee
      http://xmlns.jcp.org/xml/ns/javaee/beans_1_1.xsd"
	bean-discovery-mode="all">

	<!-- <alternatives> <class>com.qa.persistance.repository.UserMapRepository</class> 
		</alternatives> -->

	<!-- <alternatives> <class>com.qa.persistance.repository.RarityMapRepository</class> 
		</alternatives> -->

	<!-- <alternatives> <class>com.qa.persistance.repository.TypeMapRepository</class> 
		</alternatives> -->
</beans>
